/*
#8DB8C6 blue
#EADEA8 yellow
#A48BB2 purple
#97CFB9 green
*/

body {
  background-color: #d0d6d6;
}

h1, h2, h3, h4 {
  text-align: center;
}

img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float {
  width: 30%;
  float: right;
  margin: 5%
}

.gif {
  width: 60%;
  margin: 5%;
  border: 5px solid #d0d6d6;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button, .btn, #refresh {
  font-size: large;
  font-weight: bolder;
  color: white;
  background-color: #8DB8C6;
  border: 1px solid rgb(63, 83, 90);
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quiz, .results, #refresh {
  display: none;
}

.click {
  color: #8DB8C6;
}

.click:hover, button:hover, .btn:hover {
  text-decoration: underline;
}

.dropdown {
  text-align: center;
}

.title, .question.panel {
  border: 1px solid rgb(63, 83, 90);
}

.title, .question .panel-heading { 
  color: rgb(234, 240, 241);
  background-color: #8DB8C6;
}

.examples {
  font-size: medium;
  text-align: center;
}

#python .panel-heading {
  background-color: rgb(33, 89, 134);
  color: white;
}

#javascript {
  background-color: #EADEA8;
}

#csharp {
  background-color: #A48BB2;
}

